<div>
    <form action="" class="form-control">
        <div class="container">
            <label for="">FirstName:</label>
            <input type="text"  name="username"[(ngModel)]="data.username" id="in1"><br>
            <label for="">Age:</label>
            <input type="text" name="website" [(ngModel)]="data.website" id="in2"><br>
            <label for="">phoneNumber:</label>
            <input type="text" name="phone" [(ngModel)]="data.phone" id="in3"><br>
            <button type="submit" (click)="register()" class="btn1 btn btn-danger">submit</button>
        </div>

    </form>
</div>
